body{
    /* for font change */
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* for font size(welcome) */
h1{
    font-size: 50px;
}
.orange{
    color: orangered;
}
/* section for part1 */
.flexible-containers{
    display:flex;

    /* dream big part-2 projrct */
    margin-bottom: 150px;
}
.part1{
    width: 50%;
    padding-left: 5%;
  
}
.part1 img{
    width: 90%;
}
.press-button{
    text-decoration: none;
    background-color: aqua ;
    padding: 10px 40px;
    border-radius:5px ;
    /* pressbutton color */
    color: black;
    font-weight: 700;
}
/* add top picture */
.add-top-picture{
background-image: url(edit5.png);
background-repeat: no-repeat;
}
.dream-big{
    background-image: url(dream.png);
    background-repeat: no-repeat;
    background-position: right;
}
/* part-3 */
.experiene-item{
    box-shadow: 10px 10px rgb(153, 51, 153);
    width:40% ;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    border-left: 10px solid skyblue;
   
    
}
#full-developer{
    border-left: 10px solid blue;
}

h2{
    font-size: 30px;
}

.experiene-item{
    background-image: url(edit5.png);
    background-repeat: no-repeat;
    
}

footer p {
    text-align: center;
    color: rgba(0, 0, 0, 0.767);
}